body {
     background: #95a5c6;
}

img {
     width = 50%;
}

textarea {
     resize: none;
}


.container-fluid {
     padding-top: 75px;
}

.sidebar {
     padding-top: 60px;
     background: #c3cddf;
}

.info {
     padding-left: 15px;
}

.photo {
     text-align: center;
}

#DerkaDislike {
    margin-left: auto;
    margin-right: auto;
    width: 6em
}

.content {
     background: #c3cddf;
     padding-top: 60px;
     padding-left: 15px;
}

.page-header {
     text-align: center;
}

.container .page-header {
     text-align: center;
}

.ui-datepicker {
     background: #3b5998;
     color: #3b5998;
     background-color: #3b5998;
}

.ui-datepicker-header {
     background-color: #eceff5;
     color: #3b5998;
}

.ui-datepicker-prev {
     background-color: #3b5998;
}

.ui-datepicker-next {
     background-color: #3b5998;
}

